In [176]:
pip install pandas

Requirement already satisfied: pandas in c:\users\singh\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\singh\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\singh\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\singh\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\singh\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [269]:
import pandas as pd

crime = pd.read_csv(r"\Users\singh\Downloads\Crime_Incidents_4271237485119492148.csv")

C:\Users\singh\AppData\Local\Temp\ipykernel_5344\1496755635.py:3: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  crime = pd.read_csv(r"\Users\singh\Downloads\Crime_Incidents_4271237485119492148.csv")

In [270]:
crime

,OBJECTID,PrimaryKey,CaseNumber,District,UCRdesc,OffenseYear,TimeGroup,ReportedDate,OffenseMonth,OffenseDay,...,CENSUS_TRACT,CENSUS_TRACT_GEOID,CENSUS_BLOCK_GROUP,CENSUS_BG_GEOID,CENSUS_BLOCK,CENSUS_BLOCK_GEOID,LAT,LON,x,y
0,1,2.024000e+14,2024-00153213,District 5,Fel Assault,2024,This28,6/1/2024 3:43,5,31,...,Census Tract 1175,39035117500,Block Group 1,3.90351E+11,Block 1003,3.90351E+14,41.556885,-81.568566,-9080171.655,5094833.589
1,2,2.024000e+14,2024-00153587,District 5,Burglary,2024,This28,6/1/2024 12:42,6,1,...,Census Tract 1112.02,39035111202,Block Group 1,3.90351E+11,Block 1018,3.90351E+14,41.528059,-81.631364,-9087162.279,5090546.278
2,3,2.024000e+14,2024-00153139,District 3,Assault,2024,This28,6/1/2024 2:25,5,31,...,Census Tract 1186.02,39035118602,Block Group 2,3.90351E+11,Block 2001,3.90351E+14,41.514356,-81.619666,-9085860.097,5088508.810
3,4,2.024000e+14,2024-00150524,District 4,Assault,2024,This28,5/29/2024 20:41,5,29,...,Census Tract 1159,39035115900,Block Group 3,3.90351E+11,Block 3003,3.90351E+14,41.440774,-81.619782,-9085873.036,5077575.992
4,5,2.024000e+14,2024-00149335,District 3,Theft,2024,This28,5/28/2024 19:31,5,28,...,Census Tract 1984,39035198400,Block Group 2,3.90352E+11,Block 2012,3.90352E+14,41.489449,-81.647251,-9088930.812,5084806.747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676989,676990,2.016000e+14,2016-00010728,District 1,Burglary,2016,Older,1/11/2016 15:27,1,9,...,Census Tract 1013,39035101300,Block Group 2,3.90351E+11,Block 2007,3.90351E+14,41.480948,-81.764910,-9102028.577,5083543.482
676990,676991,2.016000e+14,2016-00010118,District O,Assault,2016,Older,1/10/2016 20:41,1,10,...,Census Tract 1974,39035197400,Block Group 2,3.90352E+11,Block 2001,3.90352E+14,41.441018,-81.717836,-9096788.286,5077612.220
676991,676992,2.016000e+14,2016-00009854,District 1,Theft,2016,Older,1/10/2016 16:52,1,10,...,Census Tract 1984,39035198400,Block Group 1,3.90352E+11,Block 1003,3.90352E+14,41.494345,-81.646493,-9088846.452,5085534.423
676992,676993,2.016000e+14,2016-00006867,District 1,Theft,2016,Older,1/7/2016 21:27,1,7,...,Census Tract 1232,39035123200,Block Group 2,3.90351E+11,Block 2005,3.90351E+14,41.469973,-81.789100,-9104721.404,5081912.883
676993,676994,2.016000e+14,2016-00006329,District 3,All Other Offenses,2016,Older,1/7/2016 9:02,1,6,...,Census Tract 1093.01,39035109301,Block Group 1,3.90351E+11,Block 1024,3.90351E+14,41.493408,-81.661592,-9090527.274,5085395.113

In [271]:
# PREPROCESSING STEP 1
# handle duplicate and null instances
# remove unnecessary rows
# check for any suprising values

In [272]:
# Check for duplicate entries

duplicate_rows = crime[crime.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [OBJECTID, PrimaryKey, CaseNumber, District, UCRdesc, OffenseYear, TimeGroup, ReportedDate, OffenseMonth, OffenseDay, TimeBlock, DOWname, DOW, HourofDay, DaysAgo, OffenseDate, Statute, City, Zip, StatDesc, Address_Public, WARD, CENSUS_TRACT, CENSUS_TRACT_GEOID, CENSUS_BLOCK_GROUP, CENSUS_BG_GEOID, CENSUS_BLOCK, CENSUS_BLOCK_GEOID, LAT, LON, x, y]
Index: []

[0 rows x 32 columns]

In [273]:
# Look at rows with null entries

rows_with_null = crime[crime.isnull().any(axis=1)]
rows_with_null

,OBJECTID,PrimaryKey,CaseNumber,District,UCRdesc,OffenseYear,TimeGroup,ReportedDate,OffenseMonth,OffenseDay,...,CENSUS_TRACT,CENSUS_TRACT_GEOID,CENSUS_BLOCK_GROUP,CENSUS_BG_GEOID,CENSUS_BLOCK,CENSUS_BLOCK_GEOID,LAT,LON,x,y
62,63,2.024000e+14,2024-00095810,District 5,Robbery,2024,Older,4/10/2024 14:13,4,8,...,Census Tract 1992,39035199200,Block Group 1,3.90352E+11,Block 1013,3.90352E+14,41.538782,-81.615530,-9085399.676,5092140.863
370,371,2.023000e+14,2023-00197057,District 2,Theft,2023,Older,7/2/2023 21:25,6,27,...,Census Tract 1048,39035104800,Block Group 4,3.90351E+11,Block 4000,3.90351E+14,NaN,NaN,NaN,NaN
386,387,2.023000e+14,2023-00186627,District 2,Weapons,2023,Older,6/24/2023 5:09,6,24,...,Census Tract 1027,39035102700,Block Group 2,3.90351E+11,Block 2007,3.90351E+14,41.467516,-81.720570,-9097092.676,5081547.868
534,535,2.021000e+14,2021-00054565,District O,Assault,2021,Older,2/24/2021 15:06,2,24,...,Census Tract 1087.01,39035108701,Block Group 3,3.90351E+11,Block 3009,3.90351E+14,NaN,NaN,NaN,NaN
627,628,2.020000e+14,2020-00384851,District 3,Assault,2020,Older,12/9/2020 17:24,12,9,...,Census Tract 1189,39035118900,Block Group 2,3.90351E+11,Block 2001,3.90351E+14,41.509664,-81.621668,-9086082.955,5087811.348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
676970,676971,2.016000e+14,2016-00030757,District O,Fel Assault,2016,Older,1/31/2016 7:58,1,31,...,Census Tract 1087.01,39035108701,Block Group 3,3.90351E+11,Block 3009,3.90351E+14,41.492897,-81.655332,-9089830.447,5085319.102
676974,676975,2.016000e+14,2016-00026692,District 2,Vandalism,2016,Older,1/27/2016 17:09,1,25,...,Census Tract 1053,39035105300,Block Group 2,3.90351E+11,Block 2001,3.90351E+14,41.458177,-81.713326,-9096286.251,5080160.517
676975,676976,2.016000e+14,2016-00026570,District 4,Drug Abuse Violations,2016,Older,1/27/2016 15:06,1,27,...,Census Tract 1211,39035121100,Block Group 1,3.90351E+11,Block 1006,3.90351E+14,41.455710,-81.591162,-9082687.041,5079794.147
676981,676982,2.016000e+14,2016-00017721,District 3,Assault,2016,Older,1/18/2016 12:07,1,16,...,Census Tract 1084,39035108400,Block Group 1,3.90351E+11,Block 1011,3.90351E+14,41.512440,-81.665739,-9090988.917,5088224.024
676989,676990,2.016000e+14,2016-00010728,District 1,Burglary,2016,Older,1/11/2016 15:27,1,9,...,Census Tract 1013,39035101300,Block Group 2,3.90351E+11,Block 2007,3.90351E+14,41.480948,-81.764910,-9102028.577,5083543.482

In [274]:
# We can see here that there are significantly less LAT and LON values in the rows with null entries. LAT and LON are crucial for our model
# So, remove ONLY the entries with null LAT and LON values first

rows_with_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56706 entries, 62 to 676989
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            56706 non-null  int64
 1   PrimaryKey          56706 non-null  float64
 2   CaseNumber          56706 non-null  object
 3   District            56706 non-null  object
 4   UCRdesc             56706 non-null  object
 5   OffenseYear         56706 non-null  int64
 6   TimeGroup           56706 non-null  object
 7   ReportedDate        56706 non-null  object
 8   OffenseMonth        56706 non-null  int64
 9   OffenseDay          56706 non-null  int64
 10  TimeBlock           56706 non-null  object
 11  DOWname             56706 non-null  object
 12  DOW                 56706 non-null  int64
 13  HourofDay           56706 non-null  int64
 14  DaysAgo             56706 non-null  int64
 15  OffenseDate         56706 non-null  object
 16  Statute             56706 non-null  object
 17  City                26474 non-null  object
 18  Zip                 7476 non-null   object
 19  StatDesc            56706 non-null  object
 20  Address_Public      55323 non-null  object
 21  WARD                56706 non-null  object
 22  CENSUS_TRACT        56706 non-null  object
 23  CENSUS_TRACT_GEOID  56706 non-null  object
 24  CENSUS_BLOCK_GROUP  56706 non-null  object
 25  CENSUS_BG_GEOID     56706 non-null  object
 26  CENSUS_BLOCK        56706 non-null  object
 27  CENSUS_BLOCK_GEOID  56706 non-null  object
 28  LAT                 19823 non-null  float64
 29  LON                 19823 non-null  float64
 30  x                   19823 non-null  float64
 31  y                   19823 non-null  float64
dtypes: float64(5), int64(7), object(20)
memory usage: 14.3+ MB

In [275]:
# Remove the entries with empty LAT and LON values

crime = crime.dropna(subset=['LAT', 'LON'])

In [276]:
# Now, LAT and LON are no longer a problem
# Entries with an empty value do not have LAT and LON as empty

rows_with_null = crime[crime.isnull().any(axis=1)]
rows_with_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19823 entries, 62 to 676989
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID            19823 non-null  int64
 1   PrimaryKey          19823 non-null  float64
 2   CaseNumber          19823 non-null  object
 3   District            19823 non-null  object
 4   UCRdesc             19823 non-null  object
 5   OffenseYear         19823 non-null  int64
 6   TimeGroup           19823 non-null  object
 7   ReportedDate        19823 non-null  object
 8   OffenseMonth        19823 non-null  int64
 9   OffenseDay          19823 non-null  int64
 10  TimeBlock           19823 non-null  object
 11  DOWname             19823 non-null  object
 12  DOW                 19823 non-null  int64
 13  HourofDay           19823 non-null  int64
 14  DaysAgo             19823 non-null  int64
 15  OffenseDate         19823 non-null  object
 16  Statute             19823 non-null  object
 17  City                18540 non-null  object
 18  Zip                 1281 non-null   object
 19  StatDesc            19823 non-null  object
 20  Address_Public      19823 non-null  object
 21  WARD                19823 non-null  object
 22  CENSUS_TRACT        19823 non-null  object
 23  CENSUS_TRACT_GEOID  19823 non-null  object
 24  CENSUS_BLOCK_GROUP  19823 non-null  object
 25  CENSUS_BG_GEOID     19823 non-null  object
 26  CENSUS_BLOCK        19823 non-null  object
 27  CENSUS_BLOCK_GEOID  19823 non-null  object
 28  LAT                 19823 non-null  float64
 29  LON                 19823 non-null  float64
 30  x                   19823 non-null  float64
 31  y                   19823 non-null  float64
dtypes: float64(5), int64(7), object(20)
memory usage: 5.0+ MB

In [277]:
# Only use entries from years greater than or equal to 2016
# Years before do not have enough values

crime = crime[crime['OffenseYear'] >= 2016]

In [278]:
# Save a version of dataframe for temporal and spatial pattern exploration

crime.to_csv("crime_preprocessed_exploration", index=False)

In [279]:
# Now, let's think about what attributes we don't need to trian our model
# Model is soley based on LAT and LON, so we can remove all other geographic identifiers
# IMPORTANT: We will remove Census tracts for now, but if we want economic/socioeconomic data we can add an attribute back

cols = ['City', 'Zip', 'Address_Public', 'WARD', 'CENSUS_TRACT', 'CENSUS_TRACT_GEOID', 'CENSUS_BLOCK_GROUP', 'CENSUS_BG_GEOID', 'CENSUS_BLOCK', 'CENSUS_BLOCK_GEOID', 'x', 'y']
crime = crime.drop(columns=cols)
crime.shape[0]

637793

In [280]:
# No, empty values anywhere now

rows_with_null = crime[crime.isnull().any(axis=1)]
rows_with_null.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 20 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OBJECTID      0 non-null      int64
 1   PrimaryKey    0 non-null      float64
 2   CaseNumber    0 non-null      object
 3   District      0 non-null      object
 4   UCRdesc       0 non-null      object
 5   OffenseYear   0 non-null      int64
 6   TimeGroup     0 non-null      object
 7   ReportedDate  0 non-null      object
 8   OffenseMonth  0 non-null      int64
 9   OffenseDay    0 non-null      int64
 10  TimeBlock     0 non-null      object
 11  DOWname       0 non-null      object
 12  DOW           0 non-null      int64
 13  HourofDay     0 non-null      int64
 14  DaysAgo       0 non-null      int64
 15  OffenseDate   0 non-null      object
 16  Statute       0 non-null      object
 17  StatDesc      0 non-null      object
 18  LAT           0 non-null      float64
 19  LON           0 non-null      float64
dtypes: float64(3), int64(7), object(10)
memory usage: 0.0+ bytes

In [281]:
# We now have a "complete" dataset

crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637793 entries, 0 to 676993
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   OBJECTID      637793 non-null  int64
 1   PrimaryKey    637793 non-null  float64
 2   CaseNumber    637793 non-null  object
 3   District      637793 non-null  object
 4   UCRdesc       637793 non-null  object
 5   OffenseYear   637793 non-null  int64
 6   TimeGroup     637793 non-null  object
 7   ReportedDate  637793 non-null  object
 8   OffenseMonth  637793 non-null  int64
 9   OffenseDay    637793 non-null  int64
 10  TimeBlock     637793 non-null  object
 11  DOWname       637793 non-null  object
 12  DOW           637793 non-null  int64
 13  HourofDay     637793 non-null  int64
 14  DaysAgo       637793 non-null  int64
 15  OffenseDate   637793 non-null  object
 16  Statute       637793 non-null  object
 17  StatDesc      637793 non-null  object
 18  LAT           637793 non-null  float64
 19  LON           637793 non-null  float64
dtypes: float64(3), int64(7), object(10)
memory usage: 102.2+ MB

In [282]:
# Remove the columns we do not need

cols = ['OBJECTID', 'PrimaryKey', 'CaseNumber', 'District', 'ReportedDate', 'DOWname', 'Statute', 'StatDesc']
crime = crime.drop(columns=cols)
crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637793 entries, 0 to 676993
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   UCRdesc       637793 non-null  object
 1   OffenseYear   637793 non-null  int64
 2   TimeGroup     637793 non-null  object
 3   OffenseMonth  637793 non-null  int64
 4   OffenseDay    637793 non-null  int64
 5   TimeBlock     637793 non-null  object
 6   DOW           637793 non-null  int64
 7   HourofDay     637793 non-null  int64
 8   DaysAgo       637793 non-null  int64
 9   OffenseDate   637793 non-null  object
 10  LAT           637793 non-null  float64
 11  LON           637793 non-null  float64
dtypes: float64(2), int64(6), object(4)
memory usage: 63.3+ MB

In [283]:
# Let's take a deeper look into each of the attribute to make sure the data has no gaps or surprises

for col in crime.columns:
    print(crime[col].unique())
    print("\n")

['Fel Assault' 'Burglary' 'Assault' 'Theft' 'Vandalism' 'GTMV'
 'All Other Offenses' 'Fraud' 'Weapons' 'Driving Under The Influence'
 'Drug Abuse Violations' 'Robbery' 'Sex Offenses' 'Disorderly Conduct'
 'Stolen Property' 'Embezzlement' 'Arson'
 'Offense Against Family/Children' 'Forgery & Counterfeiting'
 'Property Damaged' 'Rape' 'Traffic Violations' 'Drunkenness'
 'Liquor Laws' 'Homicide' 'Prostitution' 'Gambling' '1C']


[2024 2021 2022 2023 2020 2017 2018 2019 2016]


['This28' 'Last28' 'Older' 'LastYrLast28' 'LastyrThis28']


[ 5  6  4  3  2  1 12 11 10  9  8  7]


[31  1 29 28 25 26 23 20 21 19 12 15  8  4 18 13 11 10  9  6 14  2 27 24
 22 16 17  5  7  3 30]


['Early Night' 'Morning' 'Day' 'Night']


[6 7 4 3 1 5 2]


[22  7 21 15  6  8 23 13  0 14 16 17  3 19 10  1 11  5  9  4 12 20 18  2]


[   9    8   11 ... 2618 2852    5]


['6/1/2024 3:40' '6/1/2024 12:00' '6/1/2024 2:15' ... '1/12/2016 2:27'
 '1/10/2016 20:41' '1/7/2016 20:10']


[41.55688521 41.52805919 41.51435563 ... 41.50077876 41.42752725
 41.43432301]


[-81.56856591 -81.63136373 -81.61966604 ... -81.73698624 -81.78170471
 -81.70934014]

In [284]:
# Everything looks good...but let's just make sure that our crucial LAT and LON don't have any non-numeric vales

cols = ['LAT', 'LON']
non_numeric = crime[cols].apply(pd.to_numeric, errors='coerce')
non_numeric_rows = crime[non_numeric.isnull().any(axis=1)]
print(non_numeric_rows)

Empty DataFrame
Columns: [UCRdesc, OffenseYear, TimeGroup, OffenseMonth, OffenseDay, TimeBlock, DOW, HourofDay, DaysAgo, OffenseDate, LAT, LON]
Index: []

In [285]:
# END OF PREPROCESSING STEP 1
# check for duplicates
# remove null values
# remove unnecessary rows
# make sure there are no suprising values for any attribute

In [286]:
# PREPROCESSING STEP 2
# make data ready for model entry
# handle non-numerical data

In [287]:
crime.columns

Index(['UCRdesc', 'OffenseYear', 'TimeGroup', 'OffenseMonth', 'OffenseDay',
       'TimeBlock', 'DOW', 'HourofDay', 'DaysAgo', 'OffenseDate', 'LAT',
       'LON'],
      dtype='object')

In [288]:
# There is are discrepancies between the 'OffenseMonth', 'OffenseDay' and 'OffenseDate'

# Assuming 'OffenseDate' is a datetime string, convert it to a datetime object
crime['OffenseDate'] = pd.to_datetime(crime['OffenseDate'], errors='coerce')

# Extract month and day from the 'OffenseDate' column
crime['ExtractedMonth'] = crime['OffenseDate'].dt.month
crime['ExtractedDay'] = crime['OffenseDate'].dt.day

# Identify rows where OffenseMonth/OffenseDay and OffenseDate don't match
inconsistent_records = crime[(crime['OffenseMonth'] != crime['ExtractedMonth']) | (crime['OffenseDay'] != crime['ExtractedDay'])]

In [289]:
# There are 155000 inconsistencies so, we will remove 'OffenseMonth' & 'OffenseDay'
# and use the 'ExtractedMonth' and 'ExtractedDay' attributes instead

inconsistent_records.shape[0]

155938

In [290]:
# Drop no longer needed attributes

crime = crime.drop(columns=['OffenseMonth', 'OffenseDay'])

In [291]:
crime

,UCRdesc,OffenseYear,TimeGroup,TimeBlock,DOW,HourofDay,DaysAgo,OffenseDate,LAT,LON,ExtractedMonth,ExtractedDay
0,Fel Assault,2024,This28,Early Night,6,22,9,2024-06-01 03:40:00,41.556885,-81.568566,6,1
1,Burglary,2024,This28,Morning,7,7,8,2024-06-01 12:00:00,41.528059,-81.631364,6,1
2,Assault,2024,This28,Early Night,6,21,9,2024-06-01 02:15:00,41.514356,-81.619666,6,1
3,Assault,2024,This28,Day,4,15,11,2024-05-29 20:41:00,41.440774,-81.619782,5,29
4,Theft,2024,This28,Morning,3,6,12,2024-05-28 11:00:00,41.489449,-81.647251,5,28
...,...,...,...,...,...,...,...,...,...,...,...,...
676989,Burglary,2016,Older,Night,7,2,3074,2016-01-09 07:00:00,41.480948,-81.764910,1,9
676990,Assault,2016,Older,Day,1,15,3073,2016-01-10 20:41:00,41.441018,-81.717836,1,10
676991,Theft,2016,Older,Day,1,11,3073,2016-01-10 16:00:00,41.494345,-81.646493,1,10
676992,Theft,2016,Older,Day,5,15,3076,2016-01-07 20:10:00,41.469973,-81.789100,1,7
676993,All Other Offenses,2016,Older,Early Night,4,23,3077,2016-01-07 04:15:00,41.493408,-81.661592,1,7

In [292]:
# Use a label encoder to create dictionaries that map our non-numeric values
# to numeric values

from sklearn.preprocessing import LabelEncoder

mappings = {}

cols = ['UCRdesc', 'OffenseYear', 'TimeGroup', 'TimeBlock']
for col in cols:
    le = LabelEncoder()
    crime[col + '_numeric'] = le.fit_transform(crime[col])
    
    mappings[col] = dict(zip(le.classes_, le.transform(le.classes_)))
    
for col, mapping in mappings.items():
    print(f"{col}: {mapping}")
    print("\n")

UCRdesc: {'1C': 0, 'All Other Offenses': 1, 'Arson': 2, 'Assault': 3, 'Burglary': 4, 'Disorderly Conduct': 5, 'Driving Under The Influence': 6, 'Drug Abuse Violations': 7, 'Drunkenness': 8, 'Embezzlement': 9, 'Fel Assault': 10, 'Forgery & Counterfeiting': 11, 'Fraud': 12, 'GTMV': 13, 'Gambling': 14, 'Homicide': 15, 'Liquor Laws': 16, 'Offense Against Family/Children': 17, 'Property Damaged': 18, 'Prostitution': 19, 'Rape': 20, 'Robbery': 21, 'Sex Offenses': 22, 'Stolen Property': 23, 'Theft': 24, 'Traffic Violations': 25, 'Vandalism': 26, 'Weapons': 27}


OffenseYear: {2016: 0, 2017: 1, 2018: 2, 2019: 3, 2020: 4, 2021: 5, 2022: 6, 2023: 7, 2024: 8}


TimeGroup: {'Last28': 0, 'LastYrLast28': 1, 'LastyrThis28': 2, 'Older': 3, 'This28': 4}


TimeBlock: {'Day': 0, 'Early Night': 1, 'Morning': 2, 'Night': 3}

In [293]:
# Drop last remaining unneeded columns
# Only remaining column that may be unnessary is OffenseDate
# It is useful to have a column in datetime format

cols = ['UCRdesc', 'OffenseYear', 'TimeGroup', 'TimeBlock']

crime = crime.drop(columns=cols)

In [294]:
crime

,DOW,HourofDay,DaysAgo,OffenseDate,LAT,LON,ExtractedMonth,ExtractedDay,UCRdesc_numeric,OffenseYear_numeric,TimeGroup_numeric,TimeBlock_numeric
0,6,22,9,2024-06-01 03:40:00,41.556885,-81.568566,6,1,10,8,4,1
1,7,7,8,2024-06-01 12:00:00,41.528059,-81.631364,6,1,4,8,4,2
2,6,21,9,2024-06-01 02:15:00,41.514356,-81.619666,6,1,3,8,4,1
3,4,15,11,2024-05-29 20:41:00,41.440774,-81.619782,5,29,3,8,4,0
4,3,6,12,2024-05-28 11:00:00,41.489449,-81.647251,5,28,24,8,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...
676989,7,2,3074,2016-01-09 07:00:00,41.480948,-81.764910,1,9,4,0,3,3
676990,1,15,3073,2016-01-10 20:41:00,41.441018,-81.717836,1,10,3,0,3,0
676991,1,11,3073,2016-01-10 16:00:00,41.494345,-81.646493,1,10,24,0,3,0
676992,5,15,3076,2016-01-07 20:10:00,41.469973,-81.789100,1,7,24,0,3,0
676993,4,23,3077,2016-01-07 04:15:00,41.493408,-81.661592,1,7,1,0,3,1

In [295]:
crime.to_csv("crime_preprocessed_for_model", index=False)